secrets.yaml
.storage/
.tts/
tts/
known_devices.yaml
known_devices.yaml
home-assistant.log
home-assistant.log.*
home-assistant_v2.db*
.cloud
__pycache__
.ps4-games.json
appdaemon/appdaemon.yaml
appdaemon/*.log*
plex.conf
.google.token
esphome/
custom_components/places/json_sensors/
